<div class="container main">
  <div class="jumbotron">
    <h1 class="display-4">Scrabbler</h1> <p class="lead text-center">A Scrabble score tracker.</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-form-wrapper
        (playerSubmitted)="addPlayer($event)"
        [players]="players"
        (wordSubmitted)="addWord($event)"
      ></app-form-wrapper>
    </div>
    <div class="col-md-8">
      <!-- <app-words-list
        [wordsList]="wordsList"
        [score]="score"
        (removeWord)="onWordRemoved($event)"
      ></app-words-list> -->
      <app-players-list
        [players]="players"
        (removeWord)="removeWord($event)"
        (deletePlayer)="playerDeleted($event)"
      ></app-players-list>
    </div>
  </div>
  <app-confirm-modal></app-confirm-modal>
</div>

<router-outlet></router-outlet>
