<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #wordForm="ngForm">
      <div class="form-group">
        <label for="player-input">Add a Player</label>
        <input
          type="text"
          class="form-control"
          id="player-input"
          placeholder="Enter the player's name"
          [(ngModel)]="player"
          required
          name="player"
          required
        />
      </div>
      <button type="submit" class="btn btn-info">Add Player</button>
    </form>
  </div>
</div>
