<h2>Players</h2>
<p-accordion [multiple]="true">
  <p-accordionTab *ngFor="let player of players">
    <p-header>
      {{ player.playerName }} | Total Words: {{ player.words.length }} | Total Score: {{ player.totalScore }}
      <i class="pi pi-times" (click)="handleDeletePlayer(player.playerId)"></i>
    </p-header>
    <table class="table">
      <thead class="thead-light">
        <tr> <th scope="col">Word</th> <th scope="col">Score</th> <th scope="col"></th> </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of player.words">
          <td>{{ word.word }}</td> <td>{{ word.scrabblescore }}</td>
          <td><i class="pi pi-times" (click)="handleRemoveWord(word, player.playerId)"></i></td>
        </tr>
      </tbody>
    </table>
  </p-accordionTab>
</p-accordion>
